﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="uWebshopDashBoard.ascx.cs" Inherits="uWebshop.Umbraco6.uWebshopDashBoard" %>

<asp:Button runat="server" ID="btnInstallDocumentTypes" OnClick="BtnInstallDocumentTypesClick" Text="Click to install"/>
<asp:Button runat="server" ID="btnDeleteAllDocumentTypes" OnClick="BtnDeleteAllDocumentTypesClick" Text="Click to delete all doctypes" />

