<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>iDeal.NET</title>
        <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("iDeal.NET", "Index", "Home")</p>
                </div>                
            </div>
        </header>
        <div id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h1>Example</h1>
                        <h2>for iDeal.NET</h2>
                    </hgroup>
                    <p>
                        This example uses <a href="http://www.ideal-simulator.nl">www.ideal-simulator.nl</a> to show the usage of iDeal.NET. To learn more about iDeal.NET visit our project site at <a href="https://github.com/robinvanderknaap/iDeal.NET">GitHub</a>.            
                    </p>
                </div>
            </section>
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - <a href="http://webpirates.nl">Webpirates</a></p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://www.facebook.com/pages/Webpirates/118910158162414" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com/allaboutoomph" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
