﻿@*
uWebshop Meta Description Example
=================================
This snippet helps you to create a meta description & title listing for your pages
*@

@using Catalog = uWebshop.RazorExtensions.Catalog
@{
	// get current category from request
	var currentCategoryUrl = Request["category"];
	// get current product from request
	var currentProductUrl = Request["product"];

	if (!string.IsNullOrEmpty(currentCategoryUrl) && !string.IsNullOrEmpty(currentProductUrl))
	{
		var currentProduct = Catalog.GetProductFromUrlName(currentCategoryUrl, currentProductUrl);

		if (currentProduct != null)
		{
			<title>@currentProduct.Title</title>
			<meta name="description" content="@currentProduct.MetaDescription" />
			<meta name="keywords" content="@foreach (var tag in currentProduct.Tags)
			                               {
				                               @tag

				                               if (tag != currentProduct.Tags.Last())
				                               {
					                               @Html.Raw(",")
					                               ;
				                               }
			                               }"/>
		}
	}

	if (!string.IsNullOrEmpty(currentCategoryUrl) && string.IsNullOrEmpty(currentProductUrl))
	{
		var currentCategory = Catalog.GetCategoryFromUrlName(currentCategoryUrl);

		if (currentCategory != null)
		{
			<title>@currentCategory.Title</title>
			<meta name="description" content="@currentCategory.MetaDescription" />
			<meta name="keywords" content="@foreach (var tag in currentCategory.Tags)
			                               {
				                               @tag

				                               if (tag != currentCategory.Tags.Last())
				                               {
					                               @Html.Raw(",")
					                               ;
				                               }
			                               }"/>
		}
	}

	if (string.IsNullOrEmpty(currentCategoryUrl) && string.IsNullOrEmpty(currentProductUrl))
	{
		<title>@Model.Name</title>
		<meta name="description" content="" />
	}
}