﻿@*
uWebshop Razor Example: Category Details With Paging 
=================================
You can use this example to display category information based on the a category Id and with paging example
*@

@using uWebshop.Domain
@using uWebshop.RazorExtensions
@using Catalog = uWebshop.RazorExtensions.Catalog
@inherits umbraco.MacroEngines.DynamicNodeContext
@{

	// get current category based on category url
	var currentCategory = @Catalog.GetAllCategories().FirstOrDefault();


	<hr/>
	<h3>Paging Example</h3>
	<p>This example shows how to display a category with paging for products.<br/>
		The products are ordered by title and grouped by the set items a page (10).</p>

	if (@currentCategory != null)
	{
		if (currentCategory.Products.Any())
		{
			@RenderProducts(@currentCategory)
		}
		else
		{
			<h4>No products found for the category</h4>
		}
	}
	else
	{
		<h4>No categories found</h4>
	}
}


@helper RenderCategories(uWebshop.Domain.Category category)
{
	if (@category.Categories.Any())
	{
		foreach (var subcategory in @category.Categories)
		{
			<li>
				<a href="@subcategory.FullLocalizedUrl()" title="@subcategory.Title">@subcategory.Title</a>
        
				@if (subcategory.Categories.Any() || subcategory.Products.Any())
				{
					<ul>
						@RenderCategories(subcategory)
					</ul>
				}
			</li>
		}
	}
}

@helper RenderProducts(uWebshop.Domain.Category category)
{
	if (@category.Products.Any())
	{
		var allCategoryProducts = @category.Products.OrderBy(x => x.Title);

		const int itemsPerPage = 10;
		var productPaging = @Catalog.GetPages(allCategoryProducts.Count(), itemsPerPage);

		var pagedProducts = allCategoryProducts.Skip(productPaging.Skip).Take(productPaging.Take);
		<a name="pagingstart"></a>
		@RenderPaging(productPaging, Current.Id)
		<ul>
			@foreach (var product in pagedProducts)
			{
				<li>
					<a href="@product.FullLocalizedUrl()" title="@product.Title">@product.Title</a>
				</li>
			}
		</ul>
		@RenderPaging(productPaging, Current.Id)
	}
}

@helper RenderPaging(Paging paging, int currentId)
{
	if (paging.TotalPages <= 1)
	{
		<div class="pager">
		</div>
		return;
	}

	var currentUrl = library.NiceUrl(currentId) + "?page=";
	var maxIndex = paging.TotalPages;

	<div class="pager">
		@if (paging.CurrentPage > 1)
		{
			<span class="left">
				<a href="@currentUrl@paging.PreviousPage#pagingstart">Previous</a>
			</span>
		}
		@for (var i = 1; i <= maxIndex; i++)
		{
			if (paging.CurrentPage == i)
			{
				<span class="item active">
					<a href="@currentUrl@i#pagingstart">@i</a>
				</span>
			}
			else
			{
				<span class="item">
					<a href="@currentUrl@i#pagingstart">@i</a>
				</span>
			}
		}
		@if (paging.CurrentPage < paging.TotalPages)
		{
			<span class="right">
				<a href="@currentUrl@paging.NextPage#pagingstart">Next</a>
			</span>
		}
	</div>
}