﻿@*
uWebshop Navigation
=================================
This snippet lists all the categories and products in the uWebshop Catalog
*@

@using uWebshop.RazorExtensions
@inherits umbraco.MacroEngines.DynamicNodeContext

@{

	<ul id="topNavigation">
		<li><a href="/" title="Home">Home</a></li>
		@RenderCatalogNav()		
		@RenderContentNav(@Model.AncestorOrSelf())		
	</ul>
}

@helper RenderCatalogNav()
{
	foreach (var category in @Catalog.GetAllRootCategories())
	{
		var cssClass = string.Empty;
		var currentCategoryUrl = Request["category"];

		if (!string.IsNullOrEmpty(@currentCategoryUrl))
		{
			if (category.Id == @Catalog.GetCategoryFromUrlName(currentCategoryUrl).Id)
			{
				cssClass = "class=\"active\"";
			}
		}

		<li @Html.Raw(cssClass)><a class="navigation"  href="@category.FullLocalizedUrl()" title="@category.Title">@category.Title</a></li>
	}
}

@helper RenderContentNav(dynamic node)
{
	var currentPageId = @Model.Id;
	var items = node.Children.Where("umbracoNaviHide!=true");

	if (items.Any())
	{
		var cssClass = string.Empty;

		foreach (var item in items)
		{
			if (currentPageId == item.Id)
			{
				cssClass = "class=\"active\"";
			}

			<li @Html.Raw(cssClass)>
				<a href="@item.Url">@item.Name</a>
					
				@* @if(item.Children.Any())
					{
						<ul>
							@RenderContentNav(item)
						</ul>
					} *@
			</li>
		}
	}
}

@helper RenderCategories(uWebshop.Domain.Category category)
{
	if (@category.Categories.Any())
	{
		foreach (var subcategory in @category.Categories)
		{
			var cssClass = string.Empty;
			var currentCategoryUrl = Request["category"];

			if (!string.IsNullOrEmpty(@currentCategoryUrl))
			{
				if (subcategory.Id == @Catalog.GetCategoryFromUrlName(currentCategoryUrl).Id)
				{
					cssClass = "class=\"active\"";
				}
			}

			<li @Html.Raw(cssClass)>
				<a href="@subcategory.FullLocalizedUrl()" class="navigation"  title="@subcategory.Title">@subcategory.Title</a>
		
				@if (subcategory.Categories.Any() || subcategory.Products.Any())
				{
					<ul>
						@RenderCategories(subcategory)
					</ul>
				}
			</li>
		}
	}
}