﻿@using Umbraco.Web
@using uWebshop.RazorExtensions
@inherits umbraco.MacroEngines.DynamicNodeContext

	@{
		var currentOrder = CMS.GetOrderFromCurrentDocument();
		
		if(currentOrder != null)
		{

			var currencyCulture = currentOrder.StoreInfo.CurrencyCultureInfo;
			
			<style>
	
				.order table {
				border-collapse:collapse
				}
	
				.order .text-right {
				text-align: right !important;
				}
	
				.order tr.orderline {
				border-bottom: 1px solid #eee;
				}
	
				.order tr.orderlineheader {
				border-bottom: 4px solid #eee;
				}
	
				.order tr.orderlinefooter {
				border-top: 4px solid #eee;
				}
	
				.order td,
				.order th {
				padding: 5px;
				}
	
				.order tr.success {
				vertical-align: middle;
				}
	
				.order .success h3 {
				margin-bottom: 10px;
				}
		
	
			</style>
				
			<div class="order" style="margin: 20px; line-height: 1.5em;">
				<h1>@currentOrder.OrderNumber</h1>
				<address style="font-style: normal;">
				<strong>Billing</strong><br/>
				@Orders.CustomerInformationValue(currentOrder, "customerFirstName") @Orders.CustomerInformationValue(currentOrder, "customerLastName")
				<br/>
				@Orders.CustomerInformationValue(currentOrder, "customerAddress1")
				@Orders.CustomerInformationValue(currentOrder, "customerAddress2")
				@Orders.CustomerInformationValue(currentOrder, "customerPostalCode")
				@Orders.CustomerInformationValue(currentOrder, "customerCity")
				@{
					var countryCode = Orders.CustomerInformationValue(currentOrder, "customerCountry");
						
					if(string.IsNullOrEmpty(countryCode)){
						@Orders.GetFullCountryNameFromCountry(countryCode)	
					}
				}
				@Orders.CustomerInformationValue(currentOrder, "customerVATNumber")
				<a href="mailto:@Orders.CustomerInformationValue(currentOrder, "customerEmail")">@Orders.CustomerInformationValue(currentOrder, "customerEmail")</a>
				</address>
				<hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee; border-bottom: 1px solid #fff;"/>
				<address style="font-style: normal;">
					<strong>Shipping</strong><br/>
					@Orders.ShippingInformationValue(currentOrder, "shippingFirstName") @Orders.ShippingInformationValue(currentOrder, "shippingLastName")
				<br/>
				@Orders.ShippingInformationValue(currentOrder, "shippingAddress1")
				@Orders.ShippingInformationValue(currentOrder, "shippingAddress2")
				@Orders.ShippingInformationValue(currentOrder, "shippingPostalCode")
				@Orders.ShippingInformationValue(currentOrder, "shippingCity")
				@{
					var shippingCountryCode = Orders.ShippingInformationValue(currentOrder, "shippingCountry");
						
					if(string.IsNullOrEmpty(shippingCountryCode)){
						@Orders.GetFullCountryNameFromCountry(countryCode)	
					}
				}
				</address>
				<hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee; border-bottom: 1px solid #fff;"/>
				<p>
					<strong>Date/Time Placed:</strong> @currentOrder.OrderDate
				</p>
				<hr style="margin: 20px 0; border: 0; border-top: 1px solid #eee; border-bottom: 1px solid #fff;"/>
				<table class="table table-striped table-hover">
				<thead>
					<tr class="orderlineheader">
						<th scope="col">
							<p>Product</p>
						</th>
						<th scope="col">
							<p class="text-right">Itemcount</p>
						</th>
						<th scope="col">
							<p class="text-right">Price (ex vat)</p>
						</th>
						<th scope="col">
							<p class="text-right">Total (ex vat)</p>
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var orderline in currentOrder.OrderLines)
					{
						<tr class="orderline">
							<th scope="row">
								<p>
									<nobr>@orderline.ProductInfo.Title</nobr>
									@foreach (var variant in orderline.ProductInfo.ProductVariants)
									{
										<br />
										<span style="font-weight: 100">
											@variant.Title
											<br/>
										</span>
									}
								</p>
							</th>
							<td>
								<p class="text-right">
									@orderline.ProductInfo.ItemCount
								</p>
							</td>
							<td>
								<p class="text-right">
									@orderline.ProductInfo.PriceWithoutVat.ToString("C", currencyCulture)
								</p>
							</td>
							<td>
								<p class="text-right">
									@orderline.SubTotal.ToString("C", currencyCulture)
								</p>
							</td>
						</tr>
					}
				</tbody>
					<tfoot>
						@if (currentOrder.VATCharged)
						{
							<tr class="orderlinefooter">

								<th scope="row" colspan="3">
									<p class="text-right">Subtotal</p>
								</th>
								<td scope="col">
									<p class="text-right">
										@currentOrder.Subtotal.ToString("C", currencyCulture)
									</p>
								</td>
							</tr>
							<tr>
								<th scope="row" colspan="3">
									<p class="text-right">Vat</p>
								</th>
								<td scope="col">
									<p class="text-right">
										(@currentOrder.VatTotalInCents / 100).ToString("C", currencyCulture)
									</p>
								</td>
							</tr>
						}
						<tr  class="success">
							<th scope="col" colspan="4">
								<h3 style="font-size: 24.5px;" class="text-right">
									@currentOrder.ChargedAmount.ToString("C", currencyCulture)
								</h3>
							</th>
						</tr>
						@if (!currentOrder.VATCharged)
						{
							<tr>
								<td colspan="4">
									<p class="text-right">reverse charge</p>
								</td>
							</tr>
						}
					</tfoot>
			</table>

			</div>
		}
	}