﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ExamineSearch.ascx.cs" Inherits="uWebshop.Examine.ExamineSearch" %>
<asp:TextBox ID="txtSearch" runat="server" />
<asp:Button id="btnSearch" runat="server" 
            onclick="btnSearch_Click" />