﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="uWebshopDictionaryInstaller.ascx.cs" Inherits="uWebshop.DictionaryInstaller.uWebshopDictionaryInstaller" %>
<%@ Register TagPrefix="umb" Namespace="umbraco.uicontrols" Assembly="controls" %>
<link href="/umbraco_client/propertypane/style.css" rel="stylesheet" />

<div class="dashboardWrapper">
	<h2>uWebshop Dictionary Items Installation Complete!</h2>
	<img src="/umbraco/dashboard/images/uwebshop32x32.png" alt="uWebshop" class="dashboardIcon" />
	<p>If you need any help please visit <a href="http://support.uwebshop.com" title="uWebshop Support">our support site</a></p>
</div>

</div></div>